doctype html
html 
	head 
		title File
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css')
		style 
			block css
	body 
		block isi
		block xjs
		script 
			block js